/* Default style made me */

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
}
a{
  color: white;
  text-decoration: none;
}

/* start style */

body{
  background: #B5BED5;
}



/* navbar started */ 



header{
 position: fixed;
 margin-top: -42px;
 width: 100%;
 background-color: #1E88F8;
 display: flex;
 align-items: center;
 justify-content: space-between;
 z-index: ;
 box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
 padding: 2px 0 0 0;
}

.menu-option .menu-img{
  width: 25px;
  margin-left: 15px;
}
.search-box .search-input{
  width: 250px;
  height: 1.5rem;
  background: #2E3D9E;
  border-radius: 20px;
  padding: 2px 30px;
  color: white;
  font-size:.9em;
}
.search-box .search-input::placeholder{
  color: rgba(255, 255, 255, 0.6);
  text-align: center;
}
.search-box span .search-icon{
  position: absolute;
  margin-left:-28px;
}
.search-box .search-icon{
  width: 28px;
}
.profile-option .profile-img{
  width: 28px;
  border-radius: 50%;
  margin-right: 15px;
  cursor: pointer;
}

form{
  z-index: 1;
  position: fixed;
  top: 40px;
  right:20px;
  width: 240px;
  height: 240px;
  background: #61778D;
  border-radius: 10px;
  padding: 20px;
  transition: 2s ease;
}
.close{
  position: absolute;
  margin-top: -48px;
  margin-left: 205px;
  font-size: 17px;
  font-weight:;
  height: .6em;
  color: white;
  
}
.login-register form h2{
  text-align: center;
  color: white;
}
input::placeholder{
  color: #D0D2E9;
  opacity: 0.700;
}
.login-register form .email-phone{
  width: 200px;
  height: 30px;
  background: transparent;
  border-bottom: 2px solid white;
  color: white;
  transition: 3s ease;
  margin-bottom: 10px;
}
.login-register form .check{
  width: 13px;
  margin-top: 3px;
  position: absolute;
}
.login-register form .check-font{
  font-size: 0.7em;
  margin-left: 14px;
  color: white;
}
.login-register form .forget{
  font-size: 0.8em;
  margin-left: 10px;
  color: white;
  font-weight: bold;
}
.login-register form .forget::hover{
  text-decoration: underline;
  color: #6B5DFC;
}
.login-register form .btn{
  width: 100%;
  height: 27px;
  border-radius: 7px;
  background: #085BB2;
  color: #C8DBEF;
  font-weight: bold;
  margin-top: 15px;
}
.login-register form  #register-click{
  font-size: 0.8em;
  margin-top: 15px;
  color: white;
}
.login-register form .click-register{
  font-size: 1.1em;
  font-weight: bolder;
  margin-left: 2px;
  color: white;
}
.login-register form .click-register::hover{
  text-decoration: underline;
  color: #3569E9;
}

/*  register */ 

.login-register .register-form{
  width: 240px;
  height: 270px;
  background: #61778D;
  border-radius: 10px;
  padding: 20px;
  transition: 2s ease;
}
.login-register form .click-login{
  font-size: 1.1em;
  font-weight: bolder;
  margin-left: 2px;
  color: white;
}

.log-form{
  display:none;
}
.reg-form{
  display: none;
}

/****  MENU BAR ***†*/


.menubar{
  position: absolute;
  position: fixed;
  width: 100px;
  height: 125px;
  background: #1E88F8;
  top: 32px;
}
.menbar{
 display: none;
}
.menubar li a{
  text-decoration: none;
  color: white;
  display: block;
  cursor: pointer;
}
.menubar li::hover{
  text-decoration: underline;
  background: #7A85FF;
  border-bottom: 2px solid white;
}
.menubar li{
  list-style: none;
  width: 100%;
  height: 30px;
  line-height: 30px;
  text-align: center;
}
.menubar-close{
  width: 15px;
  height: 20px;
  background: rgba(0, 0, 0, 0.2);
  position: absolute;
  margin-left: 101px;
  text-align: center;
  color: /*#4B59FA;*/
  font-size: 20px;
  color: white;
}
/* menu bar  close */
/* navbar close */
.container{
  margin-top: 42px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
.product{
  width: 180px;
  height: 180px;
  border-radius: 5px;
  background: #ECECEC;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  padding: 5px 0;
  margin-top: 10px;
  margin-left: 8px;
  margin-bottom: 2px;
}
.product .product-img{
  width: 100px;
  border-radius: 5px;
}
.product .product-name{
  font-size: .8em;
  margin-bottom: 5px;
}
.product .product-offer{
  font-size: 1em;
  font-weight: bold;
  color: #FF2424;
  margin-top:-10px;
  margin-left: 5px;
  padding: 0 5px;
}
.product .product-buy{
  width: 80%;
  height: 25px;
  background: #339EE2;
  font-weight: bolder;
  color: white;
  border-radius: 5px;
  border: none;
  outline: none;
}